body {
  margin: 0;
  background-color: #f0f0f0;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.card-list> :nth-child(1) {
  grid-column: span 3 / span 3;
}

.card-list> :nth-child(2) {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
}

.card-list> :nth-child(3) {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}

.card-list> :nth-child(4) {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.card-list> :nth-child(5) {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 2;
}

.card-list> :nth-child(6) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}



.graph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.home-icon {
  background-color: #042a59;
}

.logo-icon {
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 20px !important;
  position: relative;
  left: 15px;
}

.text-center {
  text-align: center;
}

.percentage {
  text-align: center;
  position: relative;
  top: 50px;
  color: #4A4A68;
}
.insightCard {
  width: '25%'; padding: 3px;
}
/* For screens ≤1366px */
@media only screen and (max-width: 1366px) {
  /* Hide the 6th item on screens ≤1366px */
  .card-list > :nth-child(6) {
    display: none !important;
  }

  /* Flex layout for smaller screens */
  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
  }

  /* Adjust items to take 50% width on screens ≤1366px */
  .card-list > div {
    flex: 1 1 calc(50% - 16px); /* Each item will take half the width minus the gap */
  }
}

/* For screens ≤480px */
@media only screen and (max-width: 480px) {
  .card-list > div {
    flex: 1 1 100%; /* Each item will take the full width on very small screens */
  }
}

@media only screen and (max-width: 768px) {

 
}